services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: kauppalista
      POSTGRES_PASSWORD: kauppalista
      POSTGRES_DB: kauppalista
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: