name: build-and-push

on:
  push:
    branches: ["deploy"]
  workflow_run:
    workflows: ["weekly-deploy"]
    types: ["completed"]

jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate tags
        id: generate-tags
        run: echo "TAG=${{ github.sha }}" >> $GITHUB_OUTPUT

      - name: Build and push API image
        uses: docker/build-push-action@v4
        with:
          context: ./api
          push: true
          tags: |
           ${{ secrets.DOCKERHUB_USERNAME }}/kauppalista-api:${{ steps.generate-tags.outputs.TAG }},
           ${{ secrets.DOCKERHUB_USERNAME }}/kauppalista-api:latest

  build-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate tags
        id: generate-tags
        run: echo "TAG=${{ github.sha }}" >> $GITHUB_OUTPUT

      - name: Build and push Client image
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/kauppalista-client:${{ steps.generate-tags.outputs.TAG }},
            ${{ secrets.DOCKERHUB_USERNAME }}/kauppalista-client:latest